<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hdp="http://www.springframework.org/schema/hadoop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:hadoop.properties" />
    <hdp:configuration>
        fs.defaultFS=${hd.fs}
        yarn.resourcemanager.address=${hd.rm}
        mapreduce.framework.name=yarn
        mapreduce.jobhistory.address=${hd.jh}
    </hdp:configuration>
    <hdp:job id="AprioriJob"
         input-path="${apriori.input.path}"
         output-path="${apriori.output.path}"
         mapper="com.uestc.cablebigdata.hadoop.mr.AprioriMapper"
         reducer="com.uestc.cablebigdata.hadoop.mr.AprioriReducer"/>
    <hdp:job-runner id="runner" pre-action="cleanup-script"
                    post-action="export-results" job-ref="AprioriJob"
                    run-at-startup="true"/>
</beans>